<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng order form</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="app">
  <div id="main">
    <div ng-controller="serviceController">
      <h1>Services</h1>
      <div id="services">
        
          <div class="service" ng-click="total(service);" toggle="service" ng-repeat="service in services">
       <!-- 
            <h2>{{service.name}}</h2>
            <p>{{service.price | currency : "$" : 2}}</p> 
        -->
          </div>
      </div>
      <div id="total">
        <h2>Total:</h2><p>{{sum | currency : "$" : 2}}</p>
      </div>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="main.js"></script>

</body>
</html>