<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- Declare a new AngularJS app and associate the controller -->
<form ng-app="app" ng-controller="OrderFormController">

  <h1>Services</h1>

    <!-- Table Format -->
    <!-- <table class="w3-table">
        <tr>
            <th>Service</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="service in services">
            <td>{{service.name}}</td>
            <td>{{service.price | currency}}</td>
            <td ng-click="remove(this)">-</td>
        </tr>
    </table> -->

  <ul ng-repeat="service in services">
    <!-- Loop through the services array, assign a click handler, and set or
      remove the "active" css class if needed -->
    <li ng-click="toggleActive(service)" ng-class="{active:service.active}">
      <!-- Notice the use of the currency filter, it will format the price -->
      {{service.name}} <span>{{service.price | currency}} </span>
      <div ng-style="{float: 'right'}" ng-click="remove(this)">
          <h1>-</h1>
      </div>
    </li>
  </ul>

  <div class="id" ng-hide="input" ng-click="input = true;">
      <h1>+</h1>
  </div>

  <div ng-show="input">
      <input type="text" placeholder="name" ng-model="name">
      <input type="number" placeholder="price" ng-model="price">
      <input type="submit" id="submit" value="Submit" ng-click="addService()" ng-disabled="!name || !price"/>
  </div>

  <div class="total">
    <!-- Calculate the total price of all chosen services. Format it as currency. -->
    Total: <span>{{total() | currency}}</span>
  </div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="main.js"></script>

</body>
</html>
