body {
   color: #222;
}

#main {
    text-align: center;
    width: 80%;
    margin: auto;
}

.service > *, #total > * {
    display: inline-block;
}

.service h2, #total h2 {
   margin-right: 25px;
}

.service {
    background: #eee;
    margin: 10px 0;
    border: 1px solid #222;
}

.toggle {
  margin: 0.5em;
  padding: 0.5em;
}

.toggle-inner-yes {
  background-color: #999;
}

.toggle-inner-no {
  background-color: white;
}