.service > *, #total > * {
    display: inline-block;
}

.service h2, #total h2 {
   margin-right: 25px;
}

.service {
    background: #eee;
    margin: 10px 0;
}

.toggle {
  margin: 0.5em;
  padding: 0.5em;
  color: white;
}

.toggle-inner-yes {
  background-color: #999;
}

.toggle-inner-no {
  background-color: 585858;
}